/* Media queries for responsiveness: General styles */
    .Animate {
        text-align: center;
        cursor: pointer;
        visibility: visible;
        white-space: none; /* Prevents text from wrapping */
        overflow: hidden; /* Ensures content does not overflow */
        text-overflow: ellipsis; /* Adds ellipsis if text overflows to symbolize continuation */
        padding-top: 08vh;
    }
    .pointer {
        display: inline-block;
        margin: 0 10px;
        font-size: 30px;
        color: #000;
    }
    
    /* Media queries for responsiveness */
    @media only screen and (max-width: 479px) {
        .Animate {
            font-size: 20px; /* Adjust font size for smaller screens */
            padding: 08vh 10px 0; /* Add padding to ensure text doesn't touch screen edges */
        }
        .pointer {
            font-size: 20px; /* Adjust pointer icon size for smaller screens */
            justify-content: center;
        }
    }
    
    @media (max-width: 768px) {
        .Animate {
            font-size: 25px; /* Adjust font size for medium screens */
            padding-top: 08vh;
        }
        .pointer {
            font-size: 25px; /* Adjust pointer icon size for medium screens */
            justify-content: center;
        }
    }
