*{
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    background-color: #033825;
    font-style: italic;
}
h1{
  color: lemonchiffon;
}
.Essays{
  color: darkorange;
  font-style: italic;
  font-size: 20px;
}
#Changes{
  color: forestgreen;
}

#caption{
  color: forestgreen;
}
.Underline{
  color: lemonchiffon;
}
.p-name{
    color: limegreen;
  }
  .Blog{
    text-align: left;
    color: lemonchiffon;
  }
  .heading{
    justify-content:left;
    color: lemonchiffon;
    font-size:20px;
  }
  .heading1{
    color: lemonchiffon;
    font-size: 2rem;
    font-style: italic;
  }
.p-summary{
color: lemonchiffon;
}
a[href]:hover{
color: gold;
}
a{
color: darkorange;
}
p{
    color: limegreen;
    font-size: medium;
}
#ref{
color: forestgreen;
}
#Part{
  color: forestgreen;
}
.title{
  color: lemonchiffon;
}
#Main{
  color: gold;
}
.index span{ 
  color: lime;
  height: 10px; 
  }
li{
  color: white;
  font-size: medium;
}
.Nav span a{
    justify-content: left;
    background-color: green;
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    color: orange;
    }
.Nav span a:hover{
    background-color: darkgreen;
    color: gold;
    };
